<% if order.find_payment_directly.present? %>
  <div class="form_old_information">
    <div id="show_old_information_<%= order.id %>">
      <div class="form-group">
        <%= render_form_payment order, current_user %>
      </div>
    </div>
  </div>
  <% if order.find_payment_banking.present? %>
    <div class="form_information_banking">
      <div id="show_information_banking_<%= order.id %>" class = "display-none">
        <div class="form-group">
          <%= render_form_payment_banking order, current_user %>
        </div>
      </div>
    </div>
  <% end %>
<% elsif order.find_payment_banking.present? %>
  <div class="form_information_banking">
    <div id="show_information_banking_<%= order.id %>">
      <div class="form-group">
        <%= render_form_payment_banking order, current_user %>
      </div>
    </div>
  </div>
<% end %>
