<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t ".teller" %>
  </label>
  <div class="col-md-6">
    <%= order.find_directly_info.name %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class ="col-md-6">
    <%= t ".address" %>
  </label>
  <div class= "col-md-6">
    <%= order.find_directly_info.address %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class ="col-md-6">
    <%= t ".phone_number" %>
  </label>
  <div class= "col-md-6">
    <%= order.find_directly_info.phone_number %>
  </div>
</div>
