<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t "booking_histories.payment_info.teller" %>
  </label>
  <div class="col-md-6">
    <%= order.find_directly_info.name %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class ="col-md-6">
    <%= t "booking_histories.payment_info.address" %>
  </label>
  <div class= "col-md-6">
    <%= order.find_directly_info.address %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class ="col-md-6">
    <%= t "booking_histories.payment_info.phone_number" %>
  </label>
  <div class= "col-md-6">
    <%= order.find_directly_info.phone_number %>
  </div>
</div>
