<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t "booking_histories.banking.card_name" %>
  </label>
  <div class="col-md-6">
    <%= order.find_information_banking_account.card_name %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t "booking_histories.banking.card_number" %></label>
  <div class="col-md-6">
    <%= order.find_information_banking_account.card_number %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t "booking_histories.banking.card_address" %>
  </label>
  <div class="col-md-6">
    <%= order.find_information_banking_account.card_address %>
  </div>
</div>
<div class="col-md-12 wrap-fix">
  <label class="col-md-6">
    <%= t "booking_histories.banking.banking_name" %></label>
  <div class="col-md-6">
    <%= order.find_information_banking_account.banking_name %>
  </div>
</div>
