<div class="form-group">
  <div class="col-md-12 center-fix wrap-fix">
    <strong><%= t "confirm_payment_directly.payment_directly_info" %></strong>
  </div>
  <%= render "payment_directly_info", order: order %>
  <div class="col-md-12 wrap-fix">
    <label class="col-md-6">
      <%= t "venue_markets.pending_time" %>
    </label>
    <div class="col-md-6">
      <% if order.find_directly_info.pending_time > 0 %>
        <%= order.find_directly_info.pending_time %>
        <%= t "booking_histories.payment_info.hours" %>
      <% else %>
        <%= t "booking_histories.payment_info.no_deadline" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
</div>
<div class="col-md-12 center-fix wrap-fix">
  <strong><%= t "booking_histories.your_info" %></strong>
</div>
<%= simple_form_for [order.venue, order, UserPaymentDirectly.new],
  method: :post do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name,
        input_html: {value: current_user.name, class: "form-control margin-bot-10",
        "data-validation": "length required",
        "data-validation-length": "max30"} %><br/>
    </div>
    <div class="col-md-6">
      <%= f.input :email,
        input_html: {value: current_user.email, class: "form-control margin-bot-10",
        "data-validation": "length email",
        "data-validation-length": "max40",
        "data-validation-help": t("booking_histories.validation.email")} %><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :phone,
        input_html: {value: current_user.phone_number, class: "form-control margin-bot-10",
        "data-validation": "length required",
        "data-validation-length": "max20", placeholder: t("confirm_payment_directly.phone_placeholder")} %></br>
    </div>
    <div class="col-md-6">
      <%= f.input :address,
        input_html: {class: "form-control margin-bot-10",
        "data-validation": "length required",
        "data-validation-length": "max40", placeholder: t("confirm_payment_directly.address_placeholder")} %>
    </div>
  </div>
  <label>
    <%= f.check_box :verified, "data-validation": "required",
      "data-validation-error-msg": t("booking_histories.validation.validation_message") %>
    <%= t "booking_histories.validation.verify_message"%>
  </label>
  <%= f.button :submit, value: t("confirm_payment_directly.btn_confirm"),
    class: "btn btn-success pull-right", data: {confirm: t("confirm_payment_directly.confirm_directly")} %>
<% end %>
