<div class="form-group">
  <div class="col-md-12">
    <hr/>
  </div>
  <div class="col-md-12 center-fix wrap-fix">
    <strong><%= t "confirm_payment_banking.payment_banking_info" %></strong>
  </div>
  <%= render "payment_banking_info", order: order %>
  <div class="col-md-12 wrap-fix">
    <label class="col-md-6">
      <%= t "venue_markets.pending_time" %>
    </label>
    <div class="col-md-6">
      <% if order.find_information_banking_account.pending_time > 0 %>
        <%= order.find_information_banking_account.pending_time %>
      <% else %>
        <%= t "booking_histories.payment_info.no_deadline" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-md-12 center-fix wrap-fix">
    <strong><%= t "booking_histories.your_info" %></strong>
  </div>
  <%= simple_form_for [order.venue, order, UserPaymentBanking.new], method: :post do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :banking_name, input_html: {class: "form-control margin-bot-15",
          "data-validation": "length required",
          "data-validation-length": "max30"} %>
      </div>
      <div class="col-md-6">
        <%= f.input :card_name, input_html: {class: "form-control margin-bot-15",
          "data-validation": "length required",
          "data-validation-length": "max30"} %><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :card_number, input_html: {class: "form-control margin-bot-15",
          "data-validation": "length required",
          "data-validation-length": "max20"} %><br/>
      </div>
      <div class="col-md-6">
        <%= f.input :card_address, input_html: {class: "form-control margin-bot-15",
          "data-validation": "length required",
          "data-validation-length": "max40"} %><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: {value: current_user.name,
          class: "form-control margin-bot-15",
          "data-validation": "length required",
          "data-validation-length": "max40"} %><br/>
      </div>
      <div class="col-md-6">
        <%= f.input :email, input_html: {value: current_user.email,
          class: "form-control margin-bot-15",
          "data-validation": "length email",
          "data-validation-length": "max40"} %><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>
          <%= f.check_box :verified,
            "data-validation": "required" %><%= t("venue_markets.verify") %>
        </label>
      </div>
    </div>
    <div class="col-md-12">
      <%= f.button :submit, value: t("confirm_payment_banking.btn_confirm"),
        class: "btn btn-primary pull-right", data: {confirm: t("confirm_payment_banking.confirm_banking")} %>
    </div>
  <% end %>
</div>
