<div class="row">
  <%= simple_form_for [order.venue, order, UserPaymentBanking.new],
    method: :post do |f| %>
    <div class="col-md-6">
      <%= f.input :banking_name, input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %>
    </div>
    <div class="col-md-6">
      <%= f.input :card_name, input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %><br/>
    </div>
    <div class="col-md-6">
      <%= f.input :card_number, input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %><br/>
    </div>
    <div class="col-md-6">
      <%= f.input :card_address, input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %><br/>
    </div>
    <div class="col-md-6">
      <%= f.input :name, input_html: {value: current_user.name,
        class: "form-control margin-bot-15", "data-validation": "required"} %><br/>
    </div>
    <div class="col-md-6">
      <%= f.input :email, input_html: {value: current_user.email,
        class: "form-control margin-bot-15", "data-validation": "email"} %><br/>
    </div>
    <div class="col-md-12">
      <label>
        <%= f.check_box :verified,
          "data-validation": "required" %><%= t("venue_markets.verify") %>
      </label>
    </div>
    <div class="col-md-12">
      <%= f.button :submit, value: t("confirm_payment_directly.btn_confirm"),
        class: "btn btn-primary pull-right", data: {confirm: t("confirm_payment_banking.confirm_banking")} %>
    </div>
  <% end %>
</div>
