<h1><%= t "cwsb" %></h1>
<p><%= t "users.mailer.status.hi" %><%= @user.name %></p>
<p><%= t "users.mailer.status.notify" %><%= t "users.status.#{@user.status}" %></p>
<p><%= t "users.mailer.status.thank" %></p>
