<%= directly.input :address,
  input_html: {class: "form-control margin-bot-10", "data-validation": "required"} %>
<%= directly.input :pending_time,
  input_html: {class: "form-control margin-bot-10", "data-validation": "number"} %>
<%= directly.input :message, input_html: {class: "form-control margin-bot-10"} %>
<label>
  <%= directly.check_box :verified, "data-validation": "required",
    "data-validation-error-msg": t(".validation_message") %>
  <%= t ".verify_message"%>
</label>
