<%= f.input :card_name,
  input_html: {class: "form-control margin-bot-10",
    "data-validation": "required"} %>
<%= f.input :card_number,
  input_html: {class: "form-control margin-bot-15",
    "data-validation": "required"} %>
<%= f.input :card_address,
  input_html: {class: "form-control margin-bot-15",
    "data-validation": "required"} %>
<%= f.input :banking_name,
  input_html: {class: "form-control margin-bot-15",
    "data-validation": "required"} %>
<div class="row">
  <div class="col-md-12 form-banking">
    <label><%= t("venue_markets.pending_time") %></label>
  </div>
  <div class="col-md-6 form-banking">
    <%= f.input :day,
      input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %>
  </div>
  <div class="col-md-6 form-banking">
    <%= f.input :hour,
      input_html: {class: "form-control margin-bot-15",
        "data-validation": "required"} %>
  </div>
</div>
<label>
  <%= f.check_box :verified,
    "data-validation": "required" %><%= t "venue_markets.verify" %>
</label>
<%= f.button :submit, value: t("venue_markets.edit.btn_add_banking"),
  id: "btn_add_banking", class: "btn btn-danger pull-right" %>
