<% @notifications.each do |notification| %>
  <li class="<%= status_unread notification %> mark-read" data-id="<%= notification.id %>">
    <span>
      <% if current_user.image %>
        <%= image_tag current_user.image, size: Settings.reviews.avatar_size,
          class: "border-radius-10" %>
      <% else %>
        <%= image_tag "user.jpg", size: Settings.reviews.avatar_size,
          class: "border-radius-10" %>
      <% end %>
      <%= link_to notification.load_message,
        load_link_notification(notification.message, notification.notifiable_type),
        class: "style-notification" %>
    </span>
  </li>
  <hr class="hr-notification"></hr>
<% end %>
