<div class="admin-report-button">
  <i class="fa fa-flag-checkered" aria-hidden="true"></i>
  <strong><%= t "admin.venues.list_report" %></strong>
</div>
<div class="admin-report-navbar">
  <a href="javascript:void(0)" class="admin-report-close-button">&times;</a>
  <div class="list-reports has-scrollbar">
    <p class="list-reports-title">
      <%= t "admin.venues.list_report_of" %>
      <%= @venue.name %>
    </p>
    <ul class="list-unstyled media-block">
      <% @report_venue.each do |report| %>
        <li class="gi gi-user"></li>
        <strong><%= report.user.name %>: </strong>
        <%= report.content %>
        <hr>
      <% end %>
      <%= paginate @report_venue %>
    </ul>
  </div>
</div>
