<td class="text-left col-md-12">
  <span class="fa fa-university col-md-12" aria-hidden="true">
    <%= order.payment_detail.banking_name %></span>
  </p>
  <span class="fa fa-user-circle col-md-12" aria-hidden="true">
    <%= order.payment_detail.card_name %></span></p>
  <strong>
    <span class="fa fa-credit-card col-md-12" aria-hidden="true">
      <%= order.payment_detail.card_number %></span>
  </strong>
  </p>
  <span class="fa fa-location-arrow col-md-12" aria-hidden="true">
    <%= order.payment_detail.card_address %></span>
  </p>
  <span class="fa fa-envelope col-md-12" aria-hidden="true">
    <%= order.payment_detail.email %></span>
</td>
