<td class="text-left">
  <span class="fa fa-university" aria-hidden="true">
    <%= order.payment_detail.banking_name %></span>
  </p>
  <span class="fa fa-user-circle" aria-hidden="true">
    <%= order.payment_detail.card_name %></span></p>
  <strong>
    <span class="fa fa-credit-card" aria-hidden="true">
      <%= order.payment_detail.card_number %></span>
  </strong>
  </p>
  <span class="fa fa-location-arrow" aria-hidden="true">
    <%= order.payment_detail.card_address %></span>
  </p>
  <span class="fa fa-envelope" aria-hidden="true">
    <%= order.payment_detail.email %></span>
</td>
