<div class="block custom-block col-md-12">
  <div class="col-md-2">
    <%= label :payment_detail_type, t(".payment_method_type") %>
      <%= select_tag :payment_detail_type,
        options_for_select(Settings.payment_methods_filter,
        params[:payment_detail_type]), class: "select-capitalize form-control",
        include_blank: false, required: false, method: :get,
        data: {remote: true, url: order_histories_path(params: {status: params[:status]})} %>
  </div>
  <div class="col-md-2">
    <%= label :status, t(".status") %>
      <%= select_tag :status,
        options_for_select(Settings.status_filter, params[:status]),
        class: "select-capitalize form-control",
        include_blank: false, required: false, remote: true, method: :get,
        data: {remote: true, url: order_histories_path(
        params: {payment_detail_type: params[:payment_detail_type]})} %>
  </div>
</div>
<div id ="histories_content">
  <% if @orders.any? %>
    <div class="block custom-block">
      <div class="table-responsive padding-0-15">
        <table class="table table-vcenter bookings-table">
          <tr class="info">
            <th class = "text-center"><%= t ".venue" %></th>
            <th class = "text-center"><%= t ".created_at" %></th>
            <th class = "text-center"><%= t ".status" %></th>
            <th class = "text-center"><%= t ".payment_method_type" %></th>
            <th class = "text-center"><%= t ".total_paid" %></th>
            <th class = "text-center"><%= t ".customer" %></th>
          </tr>
          <% @orders.each_with_index do |order, index| %>
            <tbody>
              <%= render "order_detail", order: order %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  <% else %>
    <p><%= t "errors.blank", type: Settings.order_history %></p>
  <% end %>
</div>
