<div class = "col-md-12">
  <td class="col-md-4">
    <h2 class="venue-name">
      <strong><%= order.venue.name %></strong>
    </h2>
    <div class="block-section padding-0-15">
      <h4 class="venue-address"><%= order.venue.address_details %></h4>
      <address>
        <i class="fa fa-phone"></i> <%= order.venue.phone_number %><br>
        <i class="fa fa-envelope-o"></i>
        <%= order.venue.email %>
      </address>
    </div>
  </td>
  <td class="text-center col-md-2">
    <%= l order.created_at, format: :order_date %>
  </td>
  <td class="text-center col-md-1">
    <span class="label label-<%= display_status order %>">
      <%= order.status %>
    </span>
  </td>
  <td class="text-center col-md-2">
    <strong>
      <%= render_payment_detail_type order %>
    </strong>
  </td>
  <td class="text-center col-md-1">
    <strong>
      <span class="badge">$
        <%= order.total_paid %>
      </span>
    </strong>
  </td>
  <td class="col-md-2">
    <% if order.payment_detail %>
      <span class="fa fa-user" aria-hidden="true">
        <%= order.payment_detail.name %></span></p>
      <strong>
      <span class="fa fa-envelope" aria-hidden="true">
        <%= order.payment_detail.email %></span></p>
      <%= render_customer_detail order %>
    <% elsif order %>
      <span class="fa fa-user" aria-hidden="true">
        <%= order.user_name %></span></p>
      <strong>
    <% end %>
  </td>
</div>
