<div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-red"><i class="fa fa-user"></i></span>
    <div class="info-box-user-content">
      <span class="info-box-user-text"><%= t "admin.users.total" %></span>
      <span class="info-box-user-number" id="total_user">
        <%= @total_users %></span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-green"><i class="fa fa-check"></i></span>
    <div class="info-box-user-content">
      <span class="info-box-user-text"><%= t "admin.users.active" %></span>
      <span class="info-box-user-number" id="total_active_user">
        <%= @total_active %></span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-yellow"><i class="fa fa-ban"></i></span>
    <div class="info-box-user-content">
      <span class="info-box-user-text"><%= t "admin.users.block" %></span>
      <span class="info-box-user-number" id="total_block_user">
        <%= @total_block %></span>
    </div>
  </div>
</div>
