  <div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-green"><i class="fa fa-check"></i></span>
    <div class="info-box-user-content" id="total_active_user">
      <span class="info-box-user-text"><%= t "admin.users.active" %></span>
      <span class="info-box-user-number"><%= @total_active %></span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-yellow"><i class="fa fa-ban"></i></span>
    <div class="info-box-user-content">
      <span class="info-box-user-text"><%= t "admin.users.block" %></span>
      <span class="info-box-user-number"><%= @total_block %></span>
    </div>
  </div>
</div>
<div class="col-md-2">
  <div class="info-box-user">
    <span class="info-box-icon-user bg-red"><i class="fa fa-user-times"></i></span>
    <div class="info-box-user-content">
      <span class="info-box-user-text"><%= t "admin.users.reject" %></span>
      <span class="info-box-user-number"><%= @total_reject %></span>
    </div>
  </div>
</div>
