<% provide :title, t("admin.users.admin_users_management_title") %>
<%= javascript_include_tag "admin/users.js" %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="content-header margin-left-0 margin-right-0">
      <div class="header-section">
        <h1>
          <i class="fa fa-cogs"></i><%= t "admin.users.users_management" %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-0">
        <%= render "search_users_form" %>
      </div>
      <%= render "total_users" %>
    </div>
    <div id="list_users">
      <%= render "list" %>
    </div>
  </div>
</div>
