<div class="review_record" data-id="<%= review.id %>"
  data-reviewable-type="<%= review.reviewable_type %>"
  data-reviewable-id="<%= review.reviewable_id %>"
  id="review_record_<%= review.id %>">
  <p>
    <%= image_tag "user.jpg", size: Settings.reviews.avatar_size %>
    <strong class="user_name_review"><%= review.user.name %></strong>
    <span>&#8226</span>
    <span class="time_review">
      <%= t "reviews.reviewed" %>
      <%= time_ago_in_words review.created_at %>
      <%= t "reviews.ago" %>
    </span>
    <% if user_signed_in? && (current_user.is_user? review.user) %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"),
        edit_review_path(review), remote: true %>
      <span>&#8226</span>
      <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"),
        review_path(review), method: :delete,
        data: {confirm: t("reviews.sure")}, remote: true %>
    <% end %>
  </p>
  <div id="review_<%= review.id %>">
    <%= render "reviews/content", review: review %>
  </div>
  <hr>
</div>
