<nav class="navbar navbar-m2p sidebar navbar-m2p-active" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: "navbar-brand" do %>
        <i class="gi gi-flash"></i>
        <span class="sidebar-nav-mini-hide">
          <strong><%= t "layout.site_name" %></strong>
        </span>
      <% end %>
    </div>
    <div class="padding-left-18">
      <nav class="collapse navbar-collapse navbar-left padding-top-6">
        <%= link_to "#", class: "color-white" do %>
          <i class="fa fa-file-pdf-o"></i> <%= t "layout.guide" %>
        <% end %>
        <a class="color-white" href="https://docs.google.com/forms/d/1ZCrWYLR_hIqKqaiddJasSBJ4AdL-L4kbdT0k_QetK6c">
          <i class="fa fa-commenting-o"></i></i> <%= t "layout.feedback" %>
        </a>
      </nav>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav nav-custom">
        <div class="search-space">
          <li>
            <%= link_to t("layout.search_for_space"), search_spaces_url, class: "fa fa-search" %>
          </li>
        </div>
        <% if user_signed_in? %>
          <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
            <div class="sidebar-user-avatar">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <% if current_user.image %>
                  <%= image_tag current_user.image %>
                <% else %>
                  <%= image_tag "user.jpg" %>
                <% end %>
              </a>
            </div>
            <div class="sidebar-user-name"><%= current_user.name %></div>
            <div class="sidebar-user-links">
              <%= link_to edit_user_registration_path, method: :get do %>
                <i class="gi gi-user"></i>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete,
                title: t("layout.logout") do %>
                <i class="gi gi-exit"></i>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 padding-top-10">
            <li class="dropdown chosen-language">
              <% if session[:locale].present? %>
                <%= link_to url_for(locale: session[:locale]), class:"dropdown-toggle", data: {toggle: "dropdown"} do %>
                  <%= image_tag "flag/#{session[:locale]}.png", class: "icon-language" %>
                  <%= Settings.languages[session[:locale]] %>
                <% end %>
              <% else %>
                <%= link_to url_for(locale: :en), class:"dropdown-toggle icon-language", data: {toggle: "dropdown"} do %>
                  <%= image_tag "flag/en.png", class: "icon-language" %>
                  <%= Settings.languages.en %>
                <% end %>
              <% end %>
              <ul class="dropdown-menu forAnimate choose-language" role="menu">
                <% Settings.languages.keys.each do |lang| %>
                  <%= link_to url_for(locale: lang) do %>
                    <%= image_tag "flag/#{lang}.png", class: "icon-language" %>
                    <%= Settings.languages[lang] %>
                  <% end %>
                  <br/>
                <% end %>
              </ul>
            </li>
            <a href="#" class="padding-left-10" id="open_notification">
              <span class="fix-noti">
                <i class="fa fa-bell sidebar-nav-icon" id="fix-number"></i>
              </span>
              <span class="badge" id="notification_count">
                <%= render "notifications/counter", counter: count_notification_read %>
              </span>
            </a>
          </div>
          <li>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <table class="table">
                  <a class="font-size-14" data-toggle="collapse" data-parent="#accordion" href="#profile">
                    <%= t "layout.profile_big" %></a>
                  <li>
                    <div id="profile" class="panel-collapse collapse in">
                      <div class="panel-body panel-body-custom">
                        <%= link_to edit_user_registration_path, method: :get, class: "padding-left-10" do %>
                          <i class="gi gi-user"></i> <%= t "layout.profile" %></p>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <a class="font-size-14" data-toggle="collapse" data-parent="#accordion" href="#your_space">
                    <%= t "layout.my_spaces" %></a>
                  <li>
                    <div id="your_space" class="panel-collapse collapse in">
                      <div class="panel-body panel-body-custom">
                        <%= link_to venues_url, method: :get, class: "padding-left-10" do %>
                          <i class="gi gi-home"></i> <%= t "layout.your_space" %></p>
                        <% end %>
                        <%= link_to statistics_path, class: "padding-left-10" do %>
                          <i class="fa fa-line-chart"></i> <%= t "layout.statistics" %></p>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <% if current_user.bookings.present? %>
                    <a class="font-size-14" data-toggle="collapse" data-parent="#accordion" href="#booking">
                      <%= t "layout.your_bookings" %>
                    </a>
                    <li>
                      <div id="booking" class="panel-collapse collapse in">
                        <div class="panel-body panel-body-custom">
                          <%= link_to bookings_path, class: "padding-left-10" do %>
                            <i class="fa fa-shopping-cart"></i> <%= t "layout.your_booking" %></p>
                          <% end %>
                          <%= link_to booking_histories_path, class: "padding-left-10" do %>
                            <i class="fa fa-cart-plus"></i> <%= t "layout.booking_history" %></p>
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                  <% if current_user.venues.present? %>
                    <a class="font-size-14" data-toggle="collapse" data-parent="#accordion" href="#orders_management">
                      <%= t "layout.orders_management" %>
                    </a>
                    <li>
                      <div id="orders_management" class="panel-collapse collapse in">
                        <div class="panel-body panel-body-custom">
                          <%= link_to store_bookings_path, class: "padding-left-10" do %>
                            <i class="fa fa-cart-arrow-down"></i> <%= t "layout.store_booking" %></p>
                          <% end %>
                          <%= link_to order_histories_path, class: "padding-left-10" do %>
                            <i class="fa fa-history"></i> <%= t "layout.order_history" %></p>
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                  <% if current_user.orders.order_has_payment_type.present? %>
                    <a class="font-size-14" data-toggle="collapse" data-parent="#accordion" href="#payment">
                      <%= t "layout.payments_management" %>
                    </a>
                    <li>
                      <div id="payment" class="panel-collapse collapse in">
                        <div class="panel-body panel-body-custom">
                          <%= link_to confirm_payment_directlies_path, class: "padding-left-10" do %>
                            <i class="fa fa-money"></i> <%= t "layout.payment_directly" %></p>
                          <% end %>
                          <%= link_to confirm_payment_bankings_path, class: "padding-left-10" do %>
                            <i class="fa fa-cc-visa"></i> <%= t "layout.payment_banking" %></p>
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </table>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_url do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <%= t "layout.login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% if user_signed_in? %>
  <div class="notificationContainer" id="none">
    <div id="notificationsBody" class="notifications">
      <div id="notificationsTitle">
        <%= link_to t("notification.mark_read_all"), reads_path,
          method: :post, remote: true, class: "pull-right read-all" %>
      </div>
      <hr/>
      <ul id="notificationList">
        <%= render "notifications/list" %>
      </ul>
    </div>
    <div id="notificationFooter">
      <%= link_to t("notification.view_all"), notifications_path, id: "color-view" %>
    </div>
  </div>
<% end %>
